appnope
asttokens
black
boto3
botocore
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
idna
iniconfig
ipykernel
ipython
jedi
jmespath
jupyter_client
jupyter_core
matplotlib-inline
mypy-extensions
nest-asyncio
packaging
parso
pathspec
pexpect
platformdirs
pluggy
polars
prompt-toolkit
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pytest
python-dateutil
pyzmq
requests
rsa
s3transfer
six
stack-data
tornado
tqdm
traitlets
urllib3
wcwidth
